* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: 0;
    font-family: sans-serif;
}

body {
    background-image: url(img/logo_ritgh.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.hdr {
    padding: auto;
    box-sizing: border-box;
    /* background-color: rgba(15, 15, 15, 0.9); */
    display: flex;
    align-items: center;   
}

#nav {

}

.ul {
    display: flex;
    flex-direction: column;

}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    

}

.lista a {
    color: #fff;
    font-size: 1.3rem;
    gap: 5rem;
    background-color: black;
    width: 100vw;
    text-align: center;

    
}



.li1 {
    color: rgb(100, 100, 248);
    font-size: 2rem;
    margin-left: 0rem;

}

.li2 {
    color: rgb(228, 86, 228);
    font-size: 2rem;
    margin-left: 4rem;
}

.li1-2, .li2-2 {
    color: yellow
}

.li3 {
    color: rgb(100, 100, 248);
    font-size: 2rem;
    margin-left: 1rem;
}

.li4 {
    color: rgb(104, 190, 104);
    font-size: 2rem;
    margin-left: 4rem;
}

.li4-2 {
    color: rgb(240, 240, 117);
    font-size: 2rem;
    
}

.liHdr {
    font-size: 1.3rem;
}

#btn {
    background-color: black;
    color: #fff; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 2px;

  
    
  }
  
  #btn:hover {
    background-color: #463d3d;
  }
  
  #btn:active {
    background-color: #2e1919;
    box-shadow: 0px 0px 5px #666;
  }

  .s1 {
    align-items: center;
}

  .div {
    width: 100vw;
    height: auto;
    background-color: grey;
    opacity: 85%;
    
  }

  .div h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  
  }

  .div p {
    text-align: center;
    color: #fff;
   
  }

  .div li {
    color: #fff;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
    
  }

  .lista_f a {
    color: #fff;
  }


  .lista_f a:hover {
    color: blue;
    background-color: grey;
  }

  .div_f {
    background-image: url(img/code_back2.jpg);

  }

  .nav-active  {
    display: block;
 }


/* 
  @media (max-width: 401px) {
    .nav-active  {
       display: none;
    }

    .hdr {
        padding: 1rem;
    }
  }
     */
